fastapi==0.110.0
uvicorn==0.29.0
starlette==0.36.3

motor==3.3.2
pymongo==4.6.3

pydantic==2.8.2
email-validator==2.2.0

python-dotenv==1.0.1
python-multipart==0.0.9

resend==0.8.0

dnspython==2.6.1
anyio==4.4.0
click==8.1.7
h11==0.14.0
idna==3.7
sniffio==1.3.1
typing_extensions==4.12.2

gunicorn==22.0.0
